#cloud-config
package_upgrade: true
packages:
  - git
  - curl
  - apt-transport-https
  - ca-certificates
  - gnupg
  - lsb-release

write_files:
  - path: /etc/sysctl.d/10-map-count.conf
    content: |
      vm.max_map_count=262144

runcmd:
  # Installation Docker Engine
  - curl -fsSL https://get.docker.com -o get-docker.sh
  - sh get-docker.sh
  # Configuring Permissions (so you don't need sudo for docker)
  - usermod -aG docker azureuser
  # Activating Docker on boot
  - systemctl enable docker
  - systemctl start docker
  # Memory setting application (useful for database/elastic if needed)
  - sysctl -p /etc/sysctl.d/10-map-count.conf